.sorting tr:not(.home){
    cursor: pointer
}

.ui-state-highlight{
    border: 1px dashed #ccc;
    background-color: aquamarine
}

#imgPreview{
    margin: 20px
}

.noimage{
    width: 100px;
    height: 100px
}